<div class="about">
    <div class="about-item">
        <h1 class="title">Resumen Personal</h1>
        <div class="description">
            Hola soy Antonio Morales, Ingeniero de Sistemas, desarrollador de software mantenible y calidad, mi objetivo
            es desarrollar capacidades aprendidas, realizar investigaciones personales con el fin de poder lograr las
            metas y retos que se presenten en mi ámbito laboral.
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="about-item">
        <h1 class="title">Educación</h1>
        <div class="body">
            <div class="body-item">
                <div class="circle"></div>
                <div class="body-item_content">
                    <span class="text-primary">Universidad Cesar Vallejo</span>
                    <span>Julio 2017 - julio 2022</span>
                    <span>Bachiller, ingeniería de Sistemas</span>
                </div>
            </div>
            <div class="body-item">
                <div class="circle"></div>
                <div class="body-item_content">
                    <span class="text-primary">Universidad Cesar Vallejo</span>
                    <span>Julio 2017 - julio 2022</span>
                    <span>Ingeniero, ingeniería de Sistemas</span>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="about-item">
        <h1 class="title">Experiencia Laboral</h1>
        <div class="body">
            <div class="body-item">
                <div class="circle"></div>
                <div class="body-item_content">
                    <span class="text-primary">Universidad Cesar Vallejo</span>
                    <span>Julio 2017 - julio 2022</span>
                    <span>Bachiller, ingeniería de Sistemas</span>
                </div>
            </div>
            <div class="body-item">
                <div class="circle"></div>
                <div class="body-item_content">
                    <span class="text-primary">Universidad Cesar Vallejo</span>
                    <span>Julio 2017 - julio 2022</span>
                    <span>Ingeniero, ingeniería de Sistemas</span>
                </div>
            </div>
        </div>
    </div>
</div>